.message {
  box-sizing: border-box;
  padding: 16px;

  border: 1px solid #888;
  background-color: #eee;

  border-radius: 6px;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}